<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= url_for(@restaurant.photo) %>')">
  <div class="d-flex justify-content-center align-items-center p-5">
    <div class="text-center">
      <h1>Plates for <%= @restaurant.name %></h1>
      <h5><%= @restaurant.address %></h5>
      <div class="container">
        <% @restaurant.reviews.each do |review| %>
        <% end %>
        <% if @restaurant.reviews.count > 0 %>
          <% promedio = @restaurant.reviews.pluck(:rating).sum.to_f / @restaurant.reviews.count %>
         <div class="rating_line"><i class="okicon fa-solid fa-thumbs-up"></i><span><%= promedio %></span></div>
        <% else %>
          <p>No reviews yet.</p>
        <% end %>
      </div>

    </div>
  </div>
</div>
<div class="container pt-3">
<a class="text-decoration-none " href="/restaurants">
  <i class="fa-solid fa-arrow-left fa-2x" style="color: #4F772D;"></i>
</a>
  <div class="row mt-3">
    <% @restaurant.plates.each do |plate| %>
      <div class="restaurant_card col-5 col-md-3">
        <div class="food-card bg-white rounded-lg overflow-hidden mb-4 shadow food-card-hover">
          <div class="food-card_img position-relative">
            <%= image_tag plate.photo, class:"img-fluid product_img" %>
            <a href="#!"><i class="far fa-heart"></i></a>
            <button class= "quic_view d-flex " data-bs-toggle="modal" data-bs-target="#modal<%= plate.id %>">
              <i class="fa-solid fa-eye"></i>
          </button>
          </div>
          <div class="food-card_content">
            <div class="food-card_title-section overflow-hidden">
              <h3 class="food-card_title">
                <%= plate.name %>
              </h3>
              <div class="rating_line">
                <% if @restaurant.reviews.count > 0 %>
                  <% promedio = @restaurant.reviews.pluck(:rating).sum.to_f / @restaurant.reviews.count %>
                <div class="rating_line"><i class="okicon fa-solid fa-thumbs-up"></i> <span><%= promedio %></span></div>
                <% else %>
                  <p>No reviews yet.</p>
                <% end %>
              </div>
            </div>
            <div class="food-card_bottom-section">
              <div class="d-flex justify-content-between">
                <div><span class="fa-solid fa-bowl-rice me-1"></span> Cooked <%= time_ago_in_words(plate.cooked_date) %> ago</div>
                <div>
                  <span class="badge badge-success">Veg</span>
                </div>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <div class="food-card_price">
                  <span class="old-price"><del><%= number_to_currency(plate.old_price, precision: 2) %></del></span>
                  <span class="new-price"><%= number_to_currency(plate.new_price, precision: 2) %> </span>
                </div>
                <div class="">
                  <div class="mb-3">
                  <%# boton que abre el modal %>
                  <% if plate.stock == 0 %>
                    <% mensaje="No stock" %>
                    <% fondo= "bg-secondary" %>
                  <%else%>
                    <% mensaje = "Add to Cart" %>
                  <%end%>
                  <%= button_to "#{mensaje}", selectedplates_path(plate_id: plate.id), method: :post, class: "text CartBtn #{fondo}" %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="modal fade" id="modal<%= plate.id %>" tabindex="-1" aria-labelledby="modal<%= plate.id %>Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body plate_card">
              <%# aca empieza el diseño del modal %>
                <div class="plate_card">
                  <div class="card__wrapper">
                  </div>
                  <% if plate.photo.attached? %>
                    <div class="card__img"><%= image_tag plate.photo, class: 'card-img-top', alt: plate.name %> </div>
                  <% end %>
                  <div class="card__title"><%= plate.name %></div>
                  <div class="card__subtitle"><%= plate.description %></div>
                  <div class="card__date"> Cooked <%= time_ago_in_words(plate.cooked_date) %> ago</div>
                  <div class="card__stock"><%= plate.stock %> items on stock</div>
                  <div class="card__text"><del><%=number_to_currency(plate.old_price, precision: 2) %></del></div>
                  <div class="card__wrapper">
                    <div class="card__price"><%= number_to_currency(plate.new_price, precision: 2) %></div>
                  </div>
                  <div>
                    <%= button_to "Add to Cart", selectedplates_path(plate_id: plate.id), method: :post, class: "btn__green" %>
                    <%#= link_to 'Edit', edit_plate_path(@plate), class: 'btn btn-primary' %>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
