<div class="container">
  <h1>Plates for <%= @restaurant.name %></h1>
  <h5>Plates for <%= @restaurant.address %></h5>
  <%= link_to 'New Plate', new_restaurant_plate_path(@restaurant), class: 'btn btn-primary' %>

  <div class="row">
    <% @restaurant.plates.each do |plate| %>
      <div class="col-md-4"> <!-- Adjust the column size based on your layout -->
        <div class="card mb-4">
          <img src="<%= plate.photo.url %>" alt="<%= plate.name %>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= plate.name %></h5>
            <p class="card-text"><%= plate.stock %> items in stock</p>
            <p class="card-text">Cooked on <%= plate.cooked_date %></p>
            <p class="card-text">$<%= plate.new_price %>0</p>
            <p><del>$<%= plate.old_price %>0</del></p>
            <%= button_to "Add to Cart", selectedplates_path(plate_id: plate.id), class: "btn btn-primary bnt-sm" %>
            <%= link_to 'Show', plate_path(plate), class: 'btn btn-primary' %>
            <%#= link_to 'Edit', edit_plate_path(plate), class: 'btn btn-secondary' %>
            <%#= link_to 'Destroy', plate_path(plate), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
