<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
          <li class="nav-item active">
            <div class="form-group has-search mt-3 w-50 mx-auto">
              <%= form_with url: restaurants_path, method: :get do %>
                <div class="d-flex justify-content-center">
                  <%= text_field_tag :food, nil, placeholder: "Enter some food" %>
                  <button class="main-button mx-1" type="submit">Search</button>
                </div>
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <%= link_to "Signup", new_user_registration, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
