<div class="container">
  <div style="margin-top: 20px;">
    <h2>Order summary from <%= @restaurant.name %></h2>
  </div>
  <hr>

  <% @ids = {} %>
  <% total_amount = 0 %>
  <% @cart.selectedplates.each do |item| %>
    <% @ids[item.plate_id] ||= { quantity: 0, plate: item.plate } %>
    <% @ids[item.plate_id][:quantity] += 1 %>
    <% total_amount += item.plate.new_price %>
  <% end %>
  <% @ids.each do |key, value| %>
    <% plate = value[:plate] %>
    <div class="add-to-cart" style="margin-bottom: 10px;"> <!-- Espacio entre tarjetas -->
      <%= image_tag plate.photo %>
      <div class="add-to-cart-infos">
        <h2><%= plate.name %></h2>
        <p><%= plate.description %></p>
        <div class="priceproduct"><%= number_to_currency(plate.new_price, precision: 2) %></div>
        <td>
          <div class="btn-group" role="group">
            <%= link_to '-', selectedplate_path(Selectedplate.where(plate_id: plate.id, cart_id: @cart.id).last), method: :delete, data: { turbo_method: :delete }, class: 'btn btn-danger btn-sm custom-minus-btn' %>
              <span class="btn btn-light btn-sm"><%= value[:quantity] %></span>
            <%= button_to "+", selectedplates_path(plate_id: plate.id), class: "btn btn-primary btn-sm custom-plus-btn" %>
          </div>
        </td>
      </div>
    </div>
  <% end %>

  <tr>
    <td colspan="2"></td>
    <h3><strong>TOTAL: <%= number_to_currency(total_amount, precision: 2) %> </strong></h3>
    <td> </td>
  </tr>

  </div>

  <div class="container" style="display: flex; justify-content: flex-end;">
  <% if @restaurant %>
    <%= link_to "Back to Restaurant", restaurant_plates_path(@restaurant), class: 'btn_back' %>
  <% else %>
    <%= link_to "Back to Restaurant", restaurants_path, class: 'btn_back' %>
  <% end %>
  <button type="button" class="btn__pay" onclick="document.getElementById('payment').classList.toggle('d-none')">Pay here!</button>
</div>


  <div id="payment" class="d-none"> <%= render "payment", ids:@ids %></div>
</div>
