<div class="container mt-5 text-center">
  <div class="d-flex flex-wrap justify-content-center mt-5">
    <ul class="list-unstyled d-flex flex-wrap justify-content-center">
      <% @categories.each do |category| %>
        <li class="p-2">
          <%= link_to plates_by_category_path(category.id), class: "text-decoration-none" do %>
            <div class="category-card rounded-circle overflow-hidden" style="width: 100px; height: 100px;">
              <%= image_tag "#{category.name}.png", alt: "Le Wagon", class: "w-100 h-100 object-fit-cover" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h3 class="display-4 mb-5">Explore Our Restaurants in <%= params[:city]&.capitalize || 'the City' %></h3>
      <div class="row g-0 justify-content-center align-items-center">
        <% @restaurants.each do |restaurant| %>
          <div class="outer m-2">
            <div class="inner">
              <%= link_to restaurant_plates_path(restaurant) do %>
                <% if restaurant.photo.present? %>
                  <%= cl_image_tag restaurant.photo.key, width: 300, height: 200, crop: :fill, class: "card-img-top img-fluid rounded mb-2", style: "border-radius: 50px;" %>
                <% end %>
              <% end %>
            </div>
            <div class="item">
              <div class="item-name">
                <h4><%= restaurant.name %></h4>
              </div>
              <div class="item-price">
                <% counter = 0 %>
                <% restaurant.plates.each do |plate| %>
                  <% counter += plate.old_price %>
                  <% counter -= plate.new_price %>
                <% end %>

                <p>Save up to: $<%= counter %></p>
                <div class="card-text">
                  <% if restaurant.photo.present? %>
                    <%= cl_image_tag restaurant.photo.key, width: 400, height: 300, crop: :fill, class: "img-fluid rounded mb-2" %>
                  <% end %>
                </div>
                <div class="reviews">
                  <% restaurant.reviews.each do |review| %>
                    <p><strong><%= review.user.first_name %>:</strong></p>
                    <p><% review.rating.times do  %>
                      <i class="fa-solid fa-star"></i>
                    <% end %>
                    </p>
                    <p><%= review.comment %></p>
                  <% end %>
                </div>
                <%= link_to 'View Dishes', restaurant_plates_path(restaurant), class: 'btn btn-success rounded-pill' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
