<%# aca empiezan las categorias %>
<div class="container mt-5 text-center">
  <div class="d-flex flex-wrap justify-content-center mt-5">
    <ul class="list-unstyled d-flex flex-wrap justify-content-center">
      <% @categories.each do |category| %>
        <li class="p-2">
          <%#= link_to "/restaurants?city=#{params[:city]}&food=#{category.name}", class: "text-decoration-none" do %>
            <%= link_to restaurants_path(category_id: category.id, city: params[:city]), class: "text-decoration-none" do %>
              <div class="category-card rounded-circle overflow-hidden" style="width: 100px; height: 100px;">
                <%= image_tag "#{category.name}.png", alt: "Le Wagon", class: "w-100 h-100 object-fit-cover" %>
              </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h3 class="display-4 mb-5" style="font-weight: 500;">Explore Our Restaurants in <%= params[:city]&.capitalize || 'the City' %></h3>
        <%# aca empiezan las cards %>
        <div class="container">
          <div class="row mt-3">
            <% @restaurants.each do |restaurant| %>
              <div class="col-6 col-md-4">
                <a href="<%= restaurant_plates_path(restaurant) %>" class="text-decoration-none position-relative">
                  <div class="food-card bg-white rounded-lg overflow-hidden mb-4 shadow food-card-hover">
                    <div class="food-card_img position-relative">
                      <!--Aca va el box donde ponemos el discount-->
                      <div class="discount-box">
                        <% total_discount_percentage = 0 %>
                        <% total_plates = restaurant.plates.size %>
                        <% restaurant.plates.each do |plate| %>
                          <% plate_discount_percentage = ((plate.old_price - plate.new_price) / plate.old_price.to_f) * 100 %>
                          <% total_discount_percentage += plate_discount_percentage %>
                        <% end %>
                        <% average_discount_percentage = total_plates > 0 ? (total_discount_percentage / total_plates).round(2) : 0 %>
                        <span> <%= average_discount_percentage.to_i %> % off </span>
                      </div>
                      <% if restaurant.photo.present? %>
                        <%= cl_image_tag restaurant.photo.key, width: 300, height: 200, crop: :fill, class: "card-img-top img-fluid rounded mb-2", style: "border-radius: 50px;" %>
                      <% else %>
                        <%= image_tag "default_restaurant_image.jpg", alt: "Default Restaurant Image", class: "card-img-top img-fluid rounded mb-2", style: "border-radius: 50px;" %>
                      <% end %>
                      <a href="#!"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="card-title">
                      <h3><%= restaurant.name %></h3>
                    </div>
                    <div class="rating_box pb-3">
                      <% restaurant.reviews.each do |review| %>
                      <% end %>
                      <% if restaurant.reviews.count > 0 %>
                        <% promedio = restaurant.reviews.pluck(:rating).sum.to_f / restaurant.reviews.count %>
                        <div class="rating_line"><i class="okicon fa-solid fa-thumbs-up"></i><span> <%= promedio %></span></div>
                      <% else %>
                        <p>No reviews yet.</p>
                      <% end %>
                    </div>
                  </div>
                </a>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
