<div class="card-category-myrestaurants" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "myrestaurant.jpg" %>')">
  <h1 class="mb-4">My Restaurants</h1>
</div>

<div class="container mt-3">
  <div class="row justify-content-start">
    <div class="col-lg-8 d-flex flex-column align-items-start">
      <h5 style="color: #4F772D;" >Want to add a new restaurant?</h5>
      <%= link_to 'New restaurant', new_restaurant_path, class: 'my-button text-decoration-none', style: 'color: #ECF39E;' %>
    </div>
  </div>
</div>

<div class="container mt-4">

<% @restaurants.each do |restaurant| %>
  <div class="card-myplates mb-2">
    <% if restaurant.photo.present? %>
      <%= image_tag restaurant.photo.url, alt: restaurant.name, width: 200, height: 200 %>
    <% end %>
    <div class="myplate-product-infos">
      <h2><%= link_to restaurant.name, restaurant_path(restaurant), class: "text-decoration-none", style: "color: #4F772D;" %></h2>
      <% if current_user && current_user.id == restaurant.user_id %>
        <% total_earned = 0 %>
        <% restaurant_checkouts = @checkouts.where(restaurant_id: restaurant.id) %>

        <% restaurant_checkouts.each do |checkout| %>
          <% total_cost = 0 %>
          <% dish_quantities = Hash.new(0) %>
          <% checkout.dish.each do |dish| %>
            <% dish_quantities[dish["name"]] += 1 %>
          <% end %>
          <% dish_quantities.each do |dish_name, quantity| %>
            <% dish = checkout.dish.find { |d| d["name"] == dish_name } %>
            <% dish_cost = quantity * dish["new_price"] %>
            <% total_cost += dish_cost %>
          <% end %>
          <% total_earned += total_cost %>
        <% end %>
        <h6 class="mt-2"><strong>Total Earned: <%= number_to_currency(total_earned, precision: 2) %></strong></h6>
      <% else %>
        <p>Unauthorized to view plates sold by this restaurant.</p>
      <% end %>
      <p>
        <%= link_to edit_restaurant_path(restaurant), class: 'text-decoration-none' do %>
          <i class="fa-solid fa-pen-to-square" style="color: #4F772D;"></i>
         <% end %>
        <%= link_to restaurant_path(restaurant), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
          <i class="fa-solid fa-trash" style="color: #4F772D;"></i>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
<div>
</div>

</div>
