<div class="container mt-5">

  <p class="lead"><%= @restaurant.name %></p>

  <% if @restaurant.photo.present? %>
  <%= cl_image_tag @restaurant.photo.key, width: 400, height: 300, crop: :fill, class: "img-fluid rounded mb-2" %>
  <% end %>

  <p><strong>Address:</strong> <%= @restaurant.address %></p>
  <p><strong>Opening Date:</strong> <%= @restaurant.opening_date %></p>
  <p><strong>Opening Time:</strong> <%= @restaurant.opening_time %></p>

  <hr class="my-4">
</div>

<div class="container mt-4">
  <%= link_to 'Restaurant Home', restaurants_path, class: 'btn btn-primary' %>
  <%= link_to 'Back', restaurants_path, class: 'btn btn-secondary' %>
  <%= link_to 'Edit Restaurant', edit_restaurant_path, class: 'btn btn-warning' %>
  <%= link_to 'Delete Restaurant', restaurant_path, class: 'btn btn-danger', method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
