<div class="container mt-5">

  <p class="lead"><%= @restaurant.name %></p>

  <% if @restaurant.photo.present? %>
  <%= cl_image_tag @restaurant.photo.key, width: 400, height: 300, crop: :fill, class: "img-fluid rounded mb-2" %>
  <% end %>

  <p><strong>Address:</strong> <%= @restaurant.address %></p>
  <p><strong>Opening Date:</strong> <%= @restaurant.opening_date %></p>
  <p><strong>Opening Time:</strong> <%= @restaurant.opening_time %></p>

  <%= link_to 'My restaurants', my_restaurants_path(@restaurant) %>

</div>
